.implementedCard td {
    background-color: #d0ffad;
}
.requestedCard td {
    background-color: #afdee4;
}
.inProgressCard td {
    background-color: #fff3a8;
}
.inProgressBuggedCard td {
    background-color: #ffd7a8;
}
.buggedCard td {
    background-color: #ffd1d5;
}
.aButton {
    background: #79bbff;
    border: 1px outset #79bbff;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    margin-right: 2px;
}
.actionButtons {
    padding: 10px;
    text-align: center;
}
.cardName {
    cursor: pointer;
}