/* 
    Document   : stats
    Created on : Oct 23, 2011, 4:17:35 PM
    Author     : North
    Description:
        stylesheet for the stats page
*/

body {
    background-color: #ecedd9;
}

.skillBack {
    background: #FFFFFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAIAAAD6sKMdAAAAF0lEQVQImWM4c+YMEysrKwpmY2NDFwMAZhwDAXw1Ug0AAAAASUVORK5CYII=) repeat-x left top;
    position: relative;
    height: 20px;
    padding: 0;
    width: 450px;
    margin: 5px;
    font-weight: bold
}
.skillFront {
    background: #B9F25E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAIAAAD6sKMdAAAAJUlEQVQImS3IIRIAAAgCMI//fxYaBLG4uPESKeEKWcIlUv3xTwdIVh0yil89/QAAAABJRU5ErkJggg==) repeat-x left top;
    height: 20px;
}
.skillText {
    position: absolute; top: 0;
    left: 3px;
}
